@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Studio Sans DEMO';
    src: url('../fonts/StudioSansDEMO.woff2') format('woff2'),
        url('../fonts/StudioSansDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif-BoldItalic.woff2') format('woff2'),
        url('../fonts/LiberationSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif-Regular.woff2') format('woff2'),
        url('../fonts/LiberationSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.menu-item {
    @apply px-2 py-1 text-base inline-block text-white hover:text-red-800 duration-200;
}

.section-title {
    @apply font-bold text-4xl text-center my-5;
}

.btn {
    @apply bg-gray-800 border-black border-2 text-white px-4 py-2 inline-block rounded-md font-bold hover:bg-transparent hover:text-black hover:border-gray-900 duration-150 w-full;
}

.btn-outline {
    @apply hover:bg-red-800 border-black border-2 text-black px-4 py-2 inline-block rounded-md font-bold hover:text-white hover:border-red-800 duration-150;
}

a {
    @apply hover:text-red-800 duration-150;
}
.stuck {
    @apply bg-white duration-200 shadow-md z-50 fixed;
}
.stuck .menu-item {
    @apply text-black hover:text-red-800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Liberation Serif", sans-serif;
    font-weight: bold;
}

select:focus {
    outline: none;
    outline-offset: 0;
    border: 0;
    --tw-ring-shadow: 0;
}

body {
    background: #f8f6f3;
}

/* Single Property */

.inputLabel {
    @apply block text-base mb-1;
}
.inputField {
    @apply px-3 py-3 w-full border-0 focus:outline-none text-sm;
}
input:focus {
    --tw-ring-color: none;
}
#description p {
    margin-bottom: 15px;
}

/* Swipper Js */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper.largeSlider {
    height: 500px;
}

.swiper.thumbSlider {
    height: 110px;
    box-shadow: 0 0 1px;
    margin-top: 20px;
    background: #fff;
}

.swiper.thumbSlider .swiper-button-next:after,
.swiper.thumbSlider .swiper-button-prev:after {
    font-size: 20px;
    color: #000;
}
.thumbSlider .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.thumbSlider .swiper-slide-thumb-active {
    opacity: 1;
}

.thumbSlider .swiper-button-next, .thumbSlider .swiper-button-prev,
.largeSlider .swiper-button-next, .largeSlider .swiper-button-prev {

    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: .8;
}
.swiper.largeSlider .swiper-button-next:after,
.swiper.largeSlider .swiper-button-prev:after {
    font-size: 20px;
    color: #000;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
